#menu
{
    padding: 5px;
}

#menu:hover
{
    background-color:aqua;
    color: black;
    cursor: pointer;
}

#container
{
        background-color: gray;
        width: 20%;
        color: aliceblue;
        font-size: larger;
}